body
{
    background-color: #dae4fe;
}
.active
{
    font-weight:bold;
    background-color: aqua;
}
#sidebar
{
    background-color: #121c3e;
}
.info-box
{
    background-color: #dae4fe;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 30rem;
    max-height:50rem;

}
.info-box-content
{
    background-color: #dae4fe;
}
.bg-default
{
    background-color: #dae4fe;
}