body
{
    background-color: #e3edf9;
}
.active
{
    font-weight:bold;
    background-color: aqua;
}
#sidebar
{
    background-color: #121c3e;
}
.info-box
{
    background-color:#dae4fe ;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 30rem;
    max-height:50rem;

}
.info-box-content
{
    background-color: white;
}
.bg-default
{
    background-color: #e3edf9;
}
.icons
{
    cursor:pointer;
}
/*for employee box*/
.profile-photo
{
    width: 2.3rem;
    height: 2.3rem;
}
